/*Classes Container*/
.myContainer{
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin-top: 4%;
}

.wholeContainer{
    width: 100%;
    background-color: #0e1124;
}

/*Classes de margem*/
.mgT-2{
    margin-top: 2%;
}

.mgT-10{
    margin-top: 10%;
}

.mgL-4{
    margin-left: 4%;
}

/*Classes Texto*/
.texto-branco{
    color: white;
}

/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
