body{
    background-image: url(imagens/principal.png);
}

.myContainer{
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin-top: 4%;
}

/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
